@import "/styles/mixins/colors.scss";

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
}

.texts{
    span{
        font-size: 30px;
        font-weight: 600;
        color: $green2-color;
    }

    h1{
        font-size: 65px;
        font-weight: bold;
        
    }
}